html {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(243, 254, 237);
    color:  rgb(61, 42, 33);
    text-align: center;
}
.post {
    align-content: center;
    border: 2px solid rgb(61, 42, 33);
    background-color: rgb(169, 190, 162);
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
    color:  rgb(61, 42, 33);;
}
.postTwo {
    align-content: left;
    border: 2px solid rgb(61, 42, 33);
    background-color: rgb(169, 190, 162);
    margin-right: 200px;
    margin-left: 200px;
    text-align: center;
    color:  rgb(61, 42, 33);;
}

