html {
    background-image: url("https://images.unsplash.com/photo-1556015328-8f4e72a77669?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-color: rgb(84, 162, 236);

}

#fish1 {
    background-color: rgb(204, 255, 241);
    color: rgb(73, 41, 26);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 10px rgb(13, 30, 115));
    margin-right: 10px;
    float: right;
}
#fish2 {
    background-color: rgb(255, 210, 210);
    color: rgb(73, 41, 26);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    padding: 15px;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 10px rgb(238, 129, 40));
    margin-right: 10px;
    float: left;
}
h1{
    color: rgb(18, 65, 64);
    text-shadow: rgb(91, 139, 181);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 400%;
    mix-blend-mode: hard-light;
    text-align: center;
}
p{
    color: rgb(255, 255, 255);
    outline: 2px rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: bold;
    font-size: 200%;
    margin-left: 50px;
    text-align: center;
}

#fishPic {
    width: 100px;
    height: 100px;
    position: relative;
    float: right;
}
#fishPic2 {
    width: 100px;
    height: 100px;
    position: absolute;
    float: left;
}